/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;
  ;
}


/* ===== Colours ===== */
:root {
  --body-color: #18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ffffff;
  --search-bar: #242526;

}

body {
  height: 100vh;
  background-color: grey;
}

/* body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
} */

.nav-top1 {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

body.dark nav {
  /* border: 1px solid #393838; */
}

.nav-top1 .nav-bar {
  position: relative;
  height: 100%;
  /* max-width: 1000px; */
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-top1 .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.nav-top1 .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}

@media (max-width: 790px) {
  .nav-top1 .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    /* background-color: var(--side-nav); */
    background-color: var(--nav-color);
    z-index: 100;
    transition: all 0.4s ease;
  }

  .nav-top1.active .menu {
    left: -0%;
  }

  .nav-top1.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}


/* Second Navbar */

.top {
  background: linear-gradient(360deg, #000000 0%, #414141 74%);
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 30px;
  padding: 10px 10px;
  font-size: 11px;
}

.top img {
  width: 20px;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .top {
    gap: 35px;
  }
}

.main-one{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* sidebar */
.sidebar {
  background-color: white;
  width: 15%;
  height: 100%;
  padding: 2px 0px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 5px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

/* .menu_dahsboard::before {
    content: "Dashboard";
  } */
.menu_editor::before {
  content: "Others";
  font-weight: 900;
}

.menu_setting::before {
  content: "All Sports";
  font-weight: 900;
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.blink {
  color: red;
  font-weight: 900;
  animation-name: blink-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.navlink {
  font-size: 13px;
  font-weight: 500;
}

@keyframes blink-text {
  0% {
    color: yellow;
  }

  50% {
    color: white;
  }

  100% {
    color: yellow;
  }
}

.item {
  background: linear-gradient(360deg, #000000 0%, #414141 74%);
  color: white;
}

/* Mid Navigation Bar */

/* .mid-nav {
  width: 82.5%;
  height: 60px;
  background-color: #f7b42c;
background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  position: sticky;
  top: 140px;
  left: 262px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 13px;
}

.mid-nav img {
  width: 30px;
} */

/* MID BIG BOX */

.mid-bigbox {
  width: 84.8%;
  height: auto;
  background-color: white;
  /* position: sticky;
  top: 117px;
  left: 222px; */
}

.mid-bigbox img {
  width: 100%;
}

.mid-img-2 {
  display: none;
}

.mid-bigbox h1 {
  font-size: 30px;
  color: white;
  background: linear-gradient(360deg, #000000 0%, #414141 74%);
  text-align: center;
}

.content-2 {
  display: flex;
  align-items: center;
}

.content-2 h1 {
  font-size: 30px;
}

.game-box {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.games{
  width: 48%;
}
.games-1 {
  width: 100%;
  background: linear-gradient(360deg, #000000 0%, #414141 74%);
}

.games-1 h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-top: -7px;
}

.games img {
  width: 100%;
}
.cont-mid{
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.iop input{
    padding: 2px;
    font-size: 14px;
}
/* Right Sidebar */

.right-sidebar {
  width: 20%;
  height: auto;
  background-color: white;
}

.r-sidebar-content {
  width: 100%;
  height: 40px;
  background: linear-gradient(360deg, #000000 0%, #414141 74%);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.mid-text {
  width: 100%;
}

.r-table {
  width: 100%;
  background-color: white;
}

.r-table td {
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .right-sidebar {
    display: none;
  }

  .mid-bigbox {
    width: 100%;
  }

  .mid-bigbox img {
    width: 100%;
  }

  .games img {
    width: 100px;
  }

  .games-1 {
    width: 100px;
  }

  .games-1 h1 {
    font-size: 10px;
  }

  .r-sidebar-content {
    width: 100%;
  }

  .game-box {
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    padding: 0px 2px;
  }

  .top {
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0px 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .top::-webkit-scrollbar {
    display: none;
  }

  .mid-img-1 {
    display: none;
  }

  .mid-img-2 {
    display: block;
  }

  .nav-top1 .nav-bar {
    padding: 0px 0px;
  }
}

/* Dropdown Button */

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #d0d0d0;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile Navigation Bar */

.nav-mob {
  /* border-radius: 12px; */
  background-color: black;
  border-radius: 20px 20px 0px 0px;
  padding: 0 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 57px;
}

.nav-content {
  display: flex;
  height: 45px;
  align-items: center;
  list-style: none;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active1 {
  transform: translateY(-3px);
}

.link-icon {
  font-size: 38px;
  color: #999;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active1 .link-icon {
  color: #4070F4;
}

.link-text {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 1;
  /* transform: translateY(32px); */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active1 .link-text {
  opacity: 1;
}

.indicator {
  position: absolute;
  bottom: -5px;
  left: 40px;
  height: 10px;
  width: 40px;
  background-color: #FFF;
  border: 4px solid black;
  /* border-radius: 50%; */
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  bottom: -8px;
  height: 24px;
  width: 19px;
}

@media only screen and (min-width: 768px) {
  .nav-mob {
    display: none;
  }
}

/* Table */

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  th {
    text-align: center;
  }
  thead th {
    background-color: #55608f;
  }
  tbody td {
    position: relative;
    text-align: center;
    color: black;
  }
  tbody td input{
      width: 50%;
      padding: 5px;
    }
  
    /* button */
  
    button {
      align-items: center;
      background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 14px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 1px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      transition: all .3s;
     }
     
     button:active,
     button:hover {
      outline: 0;
     }
     
     button span {
      background-color: rgb(5, 6, 45);
      padding: 8px 8px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
     }
     
     button:hover span {
      background: none;
     }
     
     button:active {
      transform: scale(0.9);
     }
  
     .ab{
      display: flex;
      gap: 10px;
     }
     .abc{
      display: flex;
      justify-content: space-between;
     }

/* Footer */

     footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
     }

     footer h1 {
        font-size: 16px;
        padding: 10px 0px;
        color: white;
        background: linear-gradient(360deg, #000000 0%, #414141 74%);
        text-align: center;
      }

      .mkl{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px 0px;
        font-size: 18px;
        align-items: flex-end;
      }

      .iop{
        display: flex;
        flex-direction: column;
      }

      .iop select {
        padding: 4px;
      }

      @media only screen and (max-width: 768px) {
        .nmk {
          overflow-x: scroll;
        }
      }